# игнорируются файлы, находящиеся в подкаталоге tmp
/tmp/

# игнорируются файлы, заканчивающиеся суффиксами _old, _backup
*_old
*_backup

# игнорируются файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store